<!-- =======================HEADER===========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
========================================================== -->

<header class="page-header">
  <a href="./index.html" class="logo">yachtjet</a>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="" class="header-nav-link">About</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link">Yachts</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link">Reviews</a>
      </li>
    </ul>
  </nav>
</header>
